body {
    text-align: center;
    background-color: aliceblue;
}
a {
    text-decoration: none;
    font-size: 32px;
    display: block;
    color: black;
}
.h1 {

}

.bride {
    background-color: aquamarine;
    height: 33.33%;
}
.groom {
    background-color: aqua;
    height: 33.33%;
}
.venue {
    background-color: lightgrey;
    height: 33.33%;
}
